@using Microsoft.AspNet.Identity
@model CF.ViewModel.Account.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

@using (Html.BeginForm("ChangePassowrd", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="text-center">
        <h4>Change Your Password</h4>
        <hr />
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-6 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-6 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-6 col-md-6">
            <input type="submit" value="Change password" class="btn btn-primary block full-width m-b" />
            <p>
                @Html.ActionLink("Go Back", "Index", "Assessments", null, new { @class = "btn btn-primary block full-width m-b" })
            </p>
        </div>
    </div>
}

