@model CF.ViewModel.Account.ForgotPasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Forgot your password?";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>iStar | Login</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../css/animate.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    
    <div class="logocontainer">
        <img src="~/img/iSTAR logo.JPG" class="loginimage" />
    </div>

    <div class="loginmiddle-box text-center loginscreen  animated fadeInDown">
        <div>

            <h3>Reset your password.</h3>


            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.UserName) })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Email Link</button>
            }

            <p class="m-t"> <small>Integral Solutions Asia (Pvt) Ltd. &copy; 2015</small> </p>
        </div>
    </div>

    <script src="../../js/jquery-1.10.2.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>