@model CF.ViewModel.Account.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>iStar | Login</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../css/animate.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="logocontainer">
        <img src="~/img/iSTAR logo.JPG" class="loginimage" />
    </div>

    <div class="loginmiddle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"></h1>
            </div>
            <h3>Welcome to iStar</h3>
            <p>
                Intelligent Student Teacher Analytics Resource.
            </p>
            <p>Login in. To see it in action.</p>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.UserName) })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Password) })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks">
                        @Html.CheckBoxFor(m => m.RememberMe)<i></i>@Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <a href="/Account/ForgotPassword"><small>Forgot password? </small></a>    <span>|</span>
                <a href="/ContactUs/Index"><small>ContactUs</small></a>
                @*<p class="text-muted text-center"><small>Do not have an account?</small></p>
                    @Html.ActionLink("Create an account", "Register", "Account", null, new { @class = "btn btn-sm btn-white btn-block" })*@
            }

            <p class="m-t"> <small>Integral Solutions (Asia) Pte Ltd. &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

    <script src="../../js/jquery-1.10.2.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>
